.feat-table {
  width: 100%;
  max-width: 900px;
  text-align: left;
  border-radius: 10px;
}

.feat-table > tbody > tr {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.feat-table > tbody > tr > td,
.feat-table > tbody > tr > th {
  padding: 1rem;
}

.feat-table > tbody > tr > th {
  max-width: 12rem;
  width: 100%;
  font-weight: bold;
}

.feat-table > tbody > tr > td {
  width: 100%;
  font-weight: 300;
}

.feat-table > tbody > tr:nth-child(even) > th {
  background: #f5f5f5;
}

.feat-table > tbody > tr:nth-child(odd) > th {
  background: #ebebeb;
}

.feat-table > tbody > tr:nth-child(even) > td {
  background: #ffffff;
}

.feat-table > tbody > tr:nth-child(odd) > td {
  background: #f5f5f5;
}

.feat-table > tbody > tr > .title {
  font-weight: 400;
}
