.pre-footer,
.pre-footer-wrapper,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--more-info-color);
}

.pre-footer-wrapper {
  background-color: transparent;
}

.wrapper-pre-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--wrapper-width);
}

.toggle-more-info-span {
  background-color: var(--more-info-color);
  color: var(--accent-text-color);
  padding: 0.5rem;
  border-radius: 3px 3px 0 0;
  font-size: 0.8rem;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.toggle-more-info-span > .icon {
  font-size: 1rem;
}

.more-info-div {
  color: var(--more-info-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.more-info-div > .links-topic-div {
  font-size: 0.9rem;
}

.more-info-div > .links-topic-div > span {
  color: var(--accent-text-color);
}
