.wrapper-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.wrapper-main-content > .product-main-content {
  width: var(--wrapper-width);
  background-color: white;
  display: flex;
  align-items: flex-start;
}

.wrapper-main-content > .product-main-content > div {
  background-color: white;
}

.aside-temp {
  width: 355px;
  background: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside-temp > div {
  border: 1px solid rgba(214, 210, 210, 0.548);
  width: 100%;
  background: white;
  text-align: left;
  border-radius: 10px;
}
.aside-temp > div > div {
  margin: 0 1rem;
}

.aside-temp > div:last-child {
  border-bottom: 1px solid rgba(214, 210, 210, 0.548);
}
