.header {
  display: flex;
  flex-direction: column;
  background: var(--yellow-color);
  width: 100%;
  padding: 0.5rem 0;
  gap: 0.4rem;
  color: var(--more-info-text-color) !important;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.wrapper_header {
  width: 100%;
  max-width: var(--wrapper-width);
  background-color: var(--yellow-color) !important;
}

.wrapper_header > div,
.wrapper_header > div > div,
.wrapper_header > div > div > div,
.wrapper_header > div > div > ul > li > div {
  background: transparent;
}

.top_header,
.bottom_header {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.bottom_header {
  justify-content: space-between;
}

.first_section {
  flex: 0.5;
}
.second_section {
  flex: 2;
}
.third_section {
  flex: 1;
}

.logo {
  width: auto;
  max-height: 35px;
}

ul {
  list-style-type: none;
}

.ads {
  max-height: 35px;
  width: auto;
  margin: 0 2rem;
}

.first_section > div {
  display: flex;
}

.adress {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.adress > .text-adress-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1rem;
}

.adress > div > span {
  height: fit-content;
}

.adress_user_name {
  font-size: 0.7rem;
  color: grey;
  padding: 0;
  margin: 0;
}

.location_icon {
  font-size: 1.5rem;
  fill: gray;
}

.nav_links {
  display: flex;
  text-align: left;
  color: var(--more-info-text-color);
  gap: 1rem;
}

.user_data_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon,
.notification-icon,
.cart-icon {
  font-size: 1.5rem;
}
ul,
li,
li > div > span {
  color: var(--accent-text-color);
}

li > div > svg,
a > span > svg {
  fill: black;
}

.nav_links > li > div {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
