.merc-shop-card {
  background: transparent;
  width: 9rem;
  display: flex;
  flex-direction: column;
}

.merc-shop-card > h3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--more-info-color);
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid transparent;
  padding: 0.3rem;
  border-bottom: none;
}

.merc-shop-card > div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  gap: 0.5rem;
}

.merc-shop-card > div > p {
  font-size: 0.7rem;
  line-height: 0.9rem;
  min-height: 8rem;
}

.merc-shop-card > div > img {
  width: 100%;
  height: 5rem;
  object-fit: contain;
  border-bottom: 1px solid var(--main-content-bg-color);
}
