.mini-card {
  text-align: left;
  background-color: white;
  color: black;
  min-height: 370px;
  max-width: 220px;
  border: 1px solid rgba(214, 210, 210, 0.548);
  border-radius: 5px;
}

.mini-card:hover {
  box-shadow: 1px 9px 11px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 11px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 11px -7px rgba(0, 0, 0, 0.75);
}

.mini-card > .mini-card-img {
  width: 216px;
  height: 216px;
  border-bottom: 1px solid var(--main-content-bg-color);
}

.mini-card > .mini-card-price-span,
.mini-card > .mini-card-item-description {
  margin: 0.7rem;
  margin-right: 0;
}

.mini-card > .mini-card-price-span {
  font-size: 1.3rem;
}

.mini-card > .mini-card-item-description {
  font-size: 0.8rem;
}

.border {
  border: 1px solid rgba(214, 210, 210, 0.548);
}
