.wrapper-carroussel {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem 0;
  transition: all 0.5s;
}

.wrapper-carroussel > .carroussel {
  width: 100%;
  max-width: var(--wrapper-width);
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
}
.wrapper-carroussel > .carroussel > .carroussel-topic {
  font-size: 1.3rem;
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.wrapper-carroussel > .carroussel > .carroussel-topic > a {
  font-size: 0.9rem;
}

.wrapper-carroussel > .carroussel > .outer-products {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.wrapper-carroussel > .carroussel > .outer-products > .wrapper-products {
  display: flex;
  gap: 1.7rem;
}

.wrapper-carroussel > .carroussel > .outer-products > .wrapper-icon-arrow {
  font-size: 2.4rem;
  border-radius: 100%;
  padding: 0.8rem;
  position: absolute;
  display: none;
  cursor: pointer;
  background: white;
  color: var(--blue-tone-color) !important;
  transition: all 0.2s;
  box-shadow: 1px 9px 11px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 11px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 11px -15px rgba(0, 0, 0, 0.75);
}
.wrapper-carroussel
  > .carroussel
  > .outer-products
  > .wrapper-icon-arrow:hover {
  box-shadow: 1px 9px 11px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 11px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 11px -12px rgba(0, 0, 0, 0.75);
}
.wrapper-carroussel
  > .carroussel
  > .outer-products
  > .wrapper-icon-arrow
  > .icon {
  color: var(--blue-tone-color) !important;
}

.wrapper-carroussel > .carroussel > .outer-products > .backArrow {
  left: -35px;
}
.wrapper-carroussel > .carroussel > .outer-products > .forwardArrow {
  right: -40px;
}

.active {
  display: block !important;
}

.bg-white {
  background: white;
}

.bg-gray {
}
